
body{
    background-color: bisque;
    display: flex;
    
    
}
.container
{
    
    
    

    height: 400px;
    width: 650px;
    background-color: white;
    border-radius: 25px;
    border: none;
    display: grid;
    grid-template-columns:290px 1fr;
    gap: 1.5em;
    
}
.box
{
    border: none;
    
}
#box1
{
    background-image: url(coffeemug.jpg);
    background-size: 100% 100%;
    border-radius:  25px 0px 0px 25px;
    
}
#box2
{
    /* text-indent: 20px;
    text-align: left; */
    display: flex;
    position: relative;
    flex-direction: column;
}

#mug
{
    
    /* font-family:"Montserrat",sans-serif; */
    letter-spacing: 3.5px;
    text-transform: uppercase;
    font-size: small;
    font-weight: 600;
    opacity: 0.7;
}
#line-break
{
    font-size: 15px;
    /* position: absolute;
    transform: translateY(-px);  */
    opacity: 0.6;
    
}
#heading
{
    position: absolute;
    transform: translateY(20px); 
}
#price
{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#smallval
{
    font-size: 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#but
{
    border-radius: 5px;
    padding: 10px 90px;
    background-color: rgb(26, 92, 26);
    color: white;
}